<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>404 - Página Não Encontrada</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link correto para o arquivo de estilos -->
</head>
<body>
    <div class="container">
        <h1>Oops! Página não encontrada.</h1>
        <p>Desculpe, não conseguimos encontrar a página que você estava procurando.</p>
        <p><a href="/">Voltar para a página inicial</a></p>
    </div>
</body>
</html>
